.selection-screen {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.selection-side {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.selection-side-business {
  background: #000;
}

.selection-side-consumer {
  background: #3a3a3a;
}

.selection-side h1 {
  margin: 0;
  color: white;
  font-size: 4rem;
  text-align: center;
}

.skick-logo {
  position: absolute;
  top: 3vw;
  left: 50%;
  width: 10vw;
  height: auto;
  transform: translateX(-50%);
  z-index: 10;
}
